build/Makefile
build/Makefile.Debug
build/Makefile.Release
build/ui_qtest.h
build/debug/icudt53.dll
build/debug/icuin53.dll
build/debug/icuuc53.dll
build/debug/main.obj
build/debug/moc_qtest.cpp
build/debug/moc_qtest.obj
build/debug/qt_ca.qm
build/debug/qt_cs.qm
build/debug/qt_de.qm
build/debug/qt_fi.qm
build/debug/qt_hu.qm
build/debug/qt_it.qm
build/debug/qt_ja.qm
build/debug/qt_ko.qm
build/debug/qt_lv.qm
build/debug/qt_ru.qm
build/debug/qt_sk.qm
build/debug/qt_uk.qm
build/debug/Qt5Cored.dll
build/debug/Qt5Guid.dll
build/debug/Qt5Svgd.dll
build/debug/Qt5Widgetsd.dll
build/debug/qtest.exe
build/debug/qtest.ilk
build/debug/qtest.obj
build/debug/qtest.pdb
build/debug/iconengines/qsvgicond.dll
build/debug/imageformats/qddsd.dll
build/debug/imageformats/qgifd.dll
build/debug/imageformats/qicnsd.dll
build/debug/imageformats/qicod.dll
build/debug/imageformats/qjp2d.dll
build/debug/imageformats/qjpegd.dll
build/debug/imageformats/qmngd.dll
build/debug/imageformats/qsvgd.dll
build/debug/imageformats/qtgad.dll
build/debug/imageformats/qtiffd.dll
build/debug/imageformats/qwbmpd.dll
build/debug/imageformats/qwebpd.dll
build/debug/platforms/qwindowsd.dll
rename.sh
